@media (orientation: landscape) {
  .game-container {
    position: relative;
    max-width: 900px; }
    .game-container:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 55.55556%; }
    .game-container > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

  .main-game {
    position: relative; }
    .main-game:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 69.56522%; }
    .main-game > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }
@media (orientation: portrait) {
  .game-container {
    position: relative;
    max-width: 450px; }
    .game-container:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 180%; }
    .game-container > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

  .main-game {
    position: relative; }
    .main-game:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 143.75%; }
    .main-game > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
  .game-container {
    position: relative; }
    .game-container:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 55.55556%; }
    .game-container > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

  .main-game {
    position: relative; }
    .main-game:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 69.56522%; }
    .main-game > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .game-container {
    position: relative; }
    .game-container:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 180%; }
    .game-container > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

  .main-game {
    position: relative; }
    .main-game:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 143.75%; }
    .main-game > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }
body {
  background: #97b4c5; }

.board {
  height: inherit;
  width: inherit; }

.ice-backing {
  background: url("../images/ice_tile.png");
  background-repeat: repeat; }

.asset {
  display: none; }

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-around; }

.stat-row {
  padding: 0 4%;
  margin: auto;
  background: #59829a; }

.new-game-modal {
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between; }

/*# sourceMappingURL=style.css.map */
